@font-face{
	font-family: MyriadPro;
	src: url("../font/MyriadPro/MYRIADPRO-BOLD.OTF");
}

body{
	background-color: #f1f1f1;
	font-family: MyriadPro;
	padding: 0;
	margin: 0;
}

.clear{
	clear: both;
}

.title{
	margin: 30px auto;
}

form input[type="button"], form input[type="submit"]{
	color: white;
	background-color: #e01111;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	border-color: #be1111;
	padding: 5px 10px;
	margin: 30px 0 30px 20px;
}

a, a:hover{
	color: black;
	text-decoration: none;
}

.notification{
	color:#e01111;
	margin: 15px 0 20px 15px;
}

/*----------------NAV-----------*/
.navbar{
	background: url("../img/images/nav_background.png") no-repeat;
	border-radius: 0;
	border: none;
	height: 202px;
}

#nav_logo{
	margin-left: 20px;
}

.line{
	display: block;
}

.inline{
	display: inline-block;
}

/*---------------SEARCH--------------------*/

#search-area{
	display: inline-block;
	height:75px;
	margin: 20px 20px 0 0;
	padding: 0;
}

#txtSearch{
	background: url("../img/images/nav_search_text.png") no-repeat;
	border: none;
	border-radius: 0;
	width: 480px;
	height: 72px;
	padding: 2px 0 10px 20px;
	margin: 0;
	font-size: 26px;
}

#btnSearch{
	background: url("../img/images/nav_search_button.png") no-repeat;
	border: none;
	border-radius: 0;
	width: 88px;
	height: 72px;
	padding:0;
	margin: 0;
	float:right;
}


/*-----------BASKET---------------*/

.basket{
	background: url("../img/images/nav_basket.png") no-repeat;
	width: 168px;
	height: 52px;
	padding: 8px 10px;
}

#basket-text{
	font-size: 24px;
	font-weight: bold;
	margin-top: 15px;
}

#amount-in-basket{
	background-color: #d90710;
	border: none;
	border-radius: 5px;
	margin: 2px 4px 0 8px;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 7px 13px;
	font-weight: bold;
}

/*--------------ACCOUNT---------------------*/

.account{
	float:right;
	margin: 18px 10px 0 18px;
}

.account-info{
	font-weight:bold;
	color:black;
	margin: 10px 20px 0 10px;
}

.account-info a, .account-info a:hover{
	color: black;
	text-decoration: none;
}

.name-account{
	font-size: 16px;
	color: black;
}

.type-account{
	font-size: 12px;	
}

/*-------------------NAV-UNDER-----------------------*/

.under-bar{
	margin: 35px 20px 0 0;
	font-size: 20px;
	font-weight: bold;
}

.under-ba ul{
	float: right;
}

.under-bar ul li{
	margin: 15px 10px;
}

.under-bar ul li a{
	text-decoration: none;
	color:black;
	padding:20px 25px;
}

.under-bar ul li a:hover, .under-bar ul li .active{
	color: white;
	background-color: #c5060e;
	border-radius: 5px;
}

.under-bar ul li a span{
	width: 100%;
    height: 20px;
    padding: 10px;
    background-color:white;
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
}

.under-bar ul li a span:hover{
	padding: 10px 100%;
}

/*-------------------------------SLIDER--------------------------------*/

.siderbar-menu{
	border: none;
	background-color: white;
	height: 467px;
	
}

.siderbar-menu ul{
	list-style-type: none;
	padding: 20px 0;
}

.siderbar-menu ul li{
	margin: 0;
}

.siderbar-menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 10px;
	display: block;
}

.siderbar-menu ul li a:hover{
	background-color: #e01111;
	color: white;

}

#carousel{
	padding:0;
}

.carousel{
	background-color: white;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
}


.slider{
	margin:0 0 20px 0;
}


/*-------------------------------ROUTE-------------------------*/

.swiper-container {
      width: 100%;
      height: 100%;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

.swiper-pagination{
      padding: 20px 0 10px 0; 
      position: static;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
      background-color: #e01111;
}

.swiper-pagination-bullet{
      width: 15px;
      height: 15px;
}

.swiper-slide{
      background-color: #f1f1f1;
}

/*------------------------------CAR-MANUGACTURER-------------------*/

.car-manufacturer-item{
	background: url("../img/images/car.png") no-repeat;
	width: 594px;
	height: 261px;
	margin: 20px 10px;
	position: relative;
}

.evaluate{
	float: right;
	margin-top: 10px;
}

.star-icon{
	margin: 0 2px;
}

.car-manufacturer-text-content{
	float: right;
	width: 50%;
}

.car-manufacturer-button{
	background: url("../img/images/car_seemore_button.png");
	border: none;
	color: white;
	width: 105px;
	height: 38px;
	position: absolute;
	right: 20px;
	bottom: 15px;
}

.car-manufacturer-name{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	color:#e01111;
}



/*--------------------------INTRO------------------------*/
.intro-item{
	background-color: white;
	border-radius: 7px;
	margin: 30px 1.667%;
	width: 30%;
}

.intro-item-content{
	text-align: center;
}

.intro-name{
	font-size: 18px;
	font-weight: bold;
}

.intro-text{
	font-size: 13px;
	padding: 10px 20px;
}

.intro-img, .intro-icon{
	margin: 20px auto;
}

.google-map{
	width: 40%;
	height: 40%;
}


/*-----------------------------CONTACT US----------------------------------*/
.contact-us-form{
	background-color: white;
	border-radius: 7px;
	padding: 20px;
}

form
{
	margin: 10px;
}

form .form-col{
	display: block;
}

form label{
	margin-left: 10px;
	color: #9F00F2;
	font-size: 15px;
	font-weight: bold;
}

form input[type="text"], form input[type="password"], form input[type="email"], form textarea, select{
	color: black;
	padding: 10px 15px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	font-size: 15px;
}

form input[type="text"]:hover, form input[type="password"]:hover, form input[type="email"]:hover, form textarea:hover, select:hover{
	box-shadow: 0px 0px 10px #777;
	-moz-box-shadow:0px 0px 10px #777;
	-webkit-box-shadow: 0px 0px 10px #777;
}

form textarea{
	height: 150px;
}

#text-title{
	color: #e01111;
	font-size: 25px;
	text-align: center;
	padding: 0;
	margin: 0;
}

blockquote{
	border-left: none;
}

#contact-us form div img:hover, .modal-image img:hover{
	-moz-opacity: 1.0;
	opacity: 1.0;
	-khtml-opacity: 1.0;
}

#add{
	float:right;
}

#contact-us form div a{
	border-radius: 3px;
}

#location-in-map{
	height: 400px;
}

/*--------------------------------FOOTER--------------------------------*/
.footer-distributed {
	padding:20px 50px;
	margin-top: 50px;
	font-family: MyriadPro;
	background: url("../img/images/footer_background_large.png") no-repeat;
}

.footer-distributed .footer-links{
	color: black;
}

.group-member{
	padding-left: 0;
	margin: 5px;
	font-size: 12px;
	color: black;
}

.footer-distributed .footer-center p, .footer-distributed .footer-company-about span{
	color: black;
}

.footer-distributed .footer-center p a{
	color: #9F00F2;
}

.footer-distributed .footer-center i, .footer-distributed .footer-icons a{
	background-color: #fe1616;
	color: white;
}

@media (max-width: 880px){ 
.footer-distributed{
	background: url("../img/images/footer_background_small.png") no-repeat;
	background-size: cover;
}
}

