.row{
	padding: 0;
	margin: 0;
}
.route-content img{
	margin: 20px 0;
}

.title{
	margin: 30px auto 15px auto;
}

.car-manufacturer-item{
	margin: 20px 40px;
}

.saleoff-item{
	position: relative;
}

.down-per{
	border: none;
	position: absolute;
	top: 0;
	right: 5%;
	color:black;
	background-color: #ff0000;
	border-radius: 0 0 7px 7px;
	padding: 20px 8px;
	box-shadow: 2px 2px 10px #777;
	-moz-box-shadow:2px 2px 10px #777;
	-webkit-box-shadow: 2px 2px 10px #777;
	width:16%;
}