.swiper-container {
      width: 100%;
      height: 100%;
}

.row{
      padding: 0;
      margin: 0;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

.swiper-pagination{
      padding: 20px 0 10px 0; 
      position: static;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
      background-color: #e01111;
}

.swiper-pagination-bullet{
      width: 15px;
      height: 15px;
}

.swiper-slide{
      background-color: #f1f1f1;
}

.booking-form{
      border: none;
      background-color: white;
      margin-bottom: 35px;
      padding: 20px 0;
}

.title{
      margin: 20px auto 30px auto;
}

#booking-title{
      text-align: center;
      font-size: 30px;
      color: #e01111;
      margin: 15px 0 25px 0;
}

/*-------------------------------------CAR-MODEL--------------------------------------------*/
.car-model{
      border: 2px solid black;
      background: #FFCB90;
      border-radius: 5px;
      margin-top: 20px;
}

.seat, .no-seat{
      width: 100%;
      height: 50px;
      background-color: #FF2E31;
      margin: 3px 2px;
      text-align: center;
      line-height: 50px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
      border: 1px solid #FFCB90;
      background-color: #FFCB90;
      color: black;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover{
      color: #e01111;
      border: none;
}

.nav-tabs>li>a:hover{
       background-color: #FFCB90;
}

.nav-tabs{
      border-bottom: 1px solid black;
}

.seat-row{
      margin: 20px 0;
      width: 20%;
      float: left;
}

.no-seat{
      opacity: 0;
}

/*---------------------------------------FORM-------------------------------------------*/
.main-content{
      border-top: 3px solid #e01111;
      border-bottom: 3px solid #e01111;
      padding: 40px 0;
}

.login-form-input{
      position: relative;
}

.icon{
      position: absolute;
      top:18px;
      left:10px;
      font-size: 25px;
}

.login-form-input input[type="text"], .login-form-input input[type="password"], .login-form-input select{
      padding-left: 45px;
}

#book-button{
      float: right;
      margin-right: 30px; 
}
