<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Giỏ hàng - Bến xe miền Đông</title>

	<!--CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/footer-distributed-with-address-and-phones.css">
	<link rel="stylesheet" href="css/bootstrap-3.1.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/basket.css">

</head>
<body>
	<nav class="navbar navbar-inverse">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img id="nav_logo" src="img/images/nav_logo.png" alt="nav_logo"/>
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse" id="navbar-collapse">
		<div class="nav navbar-nav navbar-right">
			<div class="line above-bar">
				<form method="POST" action="#" id="search-area" class="inline">
					<input id="txtSearch" type="text" name="txtSearch" placeholder="Nhập thông tin cần tìm kiếm">
					<input id="btnSearch" type="submit" name="btnSearch" value=""> 
				</form>
				<div class="inline basket">
					<span id="basket-text">Giỏ hàng</span>
					<span id="amount-in-basket">1</span>
				</div>
				<div class="inline account">
					<a href="">
						<img class="avatar-account inline" src="img/images/avatar.png"/>
						<div class="account-info inline">
							<span class="name-account line">Tên tài khoản</span>
							<span class="type-account line">Loại tài khoản</span>
						</div>
					</a>
				</div>
			</div>
			<div class="line under-bar">
				<ul>
					<li class="inline"><a href="#">Trang chủ</a></li>
					<li class="inline"><a href="#">Giới thiệu</a></li>
					<li class="inline"><a href="#">Khuyến mãi</a></li>
					<li class="inline"><a href="#">Liên hệ</a></li>
				</ul>
			</div>
		</div>
	</div>
	</nav>
	
	<article class="content container-fuild">
		<p class="row notification">Giỏ hàng có <span id="amount">5</span> vé đặt chỗ</p>
		<div class="row basket-content">
			<table class="table-info col-md-9">
				<tr class="table-info-title">
					<th class="ticket-code">Số vé</th>
					<th class="license-plate">Số xe</th>
					<th class="route">Tuyến</th>
					<th class="departure-time">Thời gian đi</th>
					<th class="amount-ticket">Số lượng</th>
					<th class="cost">Giá vé</th>
				</tr>
				<tr class="table-info-row">
					<td class="ticket-code">25AC155</td>
					<td class="license-plate">75F91389</td>
					<td class="route">Tp.Hồ Chí Minh-Huế</td>
					<td class="departure-time">12:00 24/5/2013</td>
					<td class="amount-ticket">2</td>
					<td class="cost">450.000</td>
				</tr>
				<tr class="table-info-row">
					<td class="ticket-code">25AC155</td>
					<td class="license-plate">75F91389</td>
					<td class="route">Tp.Hồ Chí Minh-Huế</td>
					<td class="departure-time">12:00 24/5/2013</td>
					<td class="amount-ticket">2</td>
					<td class="cost">450.000</td>
				</tr>
				<tr class="table-info-row">
					<td class="ticket-code">25AC155</td>
					<td class="license-plate">75F91389</td>
					<td class="route">Tp.Hồ Chí Minh-Huế</td>
					<td class="departure-time">12:00 24/5/2013</td>
					<td class="amount-ticket">2</td>
					<td class="cost">450.000</td>
				</tr>
				<tr class="table-info-row">
					<td class="ticket-code">25AC155</td>
					<td class="license-plate">75F91389</td>
					<td class="route">Tp.Hồ Chí Minh-Huế</td>
					<td class="departure-time">12:00 24/5/2013</td>
					<td class="amount-ticket">2</td>
					<td class="cost">450.000</td>
				</tr>
				<tr class="table-info-row">
					<td class="ticket-code">25AC155</td>
					<td class="license-plate">75F91389</td>
					<td class="route">Tp.Hồ Chí Minh-Huế</td>
					<td class="departure-time">12:00 24/5/2013</td>
					<td class="amount-ticket">2</td>
					<td class="cost">450.000</td>
				</tr>
			</table>
			<table class="table-pay col-md-3">
				<tr class="table-pay-title">
					<th class="sum-money">Thành tiền</th>
					<th class="cancel"><img class="cancel-icon" src="img/cancel_icon_white.png"/></th>
				</tr>
				<tr class="table-pay-row">
					<td class="sum-money">900.000</td>
					<td class="cancel"><img class="cancel-icon" src="img/cancel_icon_red.png"/></td>
				</tr>
				<tr class="table-pay-row">
					<td class="sum-money">900.000</td>
					<td class="cancel"><img class="cancel-icon" src="img/cancel_icon_red.png"/></td>
				</tr>
				<tr class="table-pay-row">
					<td class="sum-money">900.000</td>
					<td class="cancel"><img class="cancel-icon" src="img/cancel_icon_red.png"/></td>
				</tr>
				<tr class="table-pay-row">
					<td class="sum-money">900.000</td>
					<td class="cancel"><img class="cancel-icon" src="img/cancel_icon_red.png"/></td>
				</tr>
				<tr class="table-pay-row">
					<td class="sum-money">900.000</td>
					<td class="cancel"><img class="cancel-icon" src="img/cancel_icon_red.png"/></td>
				</tr>
				<tr class="table-pay-row" id="total-money-row">
					<td>Tổng tiền: <br/><p id="total-money">4.500.000</p></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="row invoice-info">
			<img class="title row img-responsive" src="img/images/basket/title_type_invoice.png">
				<form action="#">
					<div class="row contact-us-form invoice-info-content">
						<div class="user-info-form col-md-6">
							<div class="form-col">
								<label class="form-row form-title">1.Thông tin khách hàng</label>
							</div>
							<div class="form-col">
								<label class="form-row">Tên khách hàng:</label>
								<input class="form-row" type="text" name="user-name" placeholder="Nhập tên khách hàng">
							</div>          
							<div class="form-col">
								<label class="form-row">Địa chỉ email:</label>
								<input class="form-row" type="email" name="email" placeholder="Nhập địa chỉ email">
							</div>
							<div class="form-col">
								<label class="form-row">Số điện thoại:</label>
								<input class="form-row" type="text" name="title-contact" placeholder="Nhập số điện thoại">
							</div>
							<div class="form-col">
								<label class="form-row">Địa chỉ:</label>
								<input class="form-row" type="text" name="title-contact" placeholder="Nhập dịa chỉ thường trú">
							</div>
						</div>
						<div class="type-invoice-form col-md-6">	
							<div class="form-col">
								<label class="form-row form-title">2.Hình thức thanh toán</label>
							</div>
							<div class="radio-group">
							<div class="form-col">
								<label class="radio-custom">Thanh toán bằng thẻ quốc tế Visa, Master, JCB
  									<input type="radio" checked="checked" name="Visa">
  									<span class="checkmark"></span>
								</label>
							</div>          
							<div class="form-col">
								<label class="radio-custom">Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán)
  									<input type="radio" checked="checked" name="Visa">
  									<span class="checkmark"></span>
								</label>
							</div>
							<div class="form-col">
								<label class="radio-custom">Thanh toán bằng MoMo
  									<input type="radio" checked="checked" name="Visa">
  									<span class="checkmark"></span>
								</label>
							</div>
							<div class="form-row">
								<label class="radio-custom">Thanh toán khi lên xe (Ngày khởi hành)
  									<input type="radio" checked="checked" name="Visa">
  									<span class="checkmark"></span>
								</label>
							</div>
						</div>
							<blockquote>Mọi chi tiết, thắc mắc về hình thức thanh toán hay tìm hiểu thông tin liên quan xin liên hệ tổng đài <span id="hotline">18001080</span>.</blockquote>
						</div>
						<div class="form-col col-md-12">
							<input id="invoice-submit-button" class="form-col" type="submit" name="submit" value="Tiến hành thanh toán">
							<blockquote>Xin chân thành cám ơn quý khách sử dụng dịch vụ.</blockquote>
						</div>
					</div>
				</form>
		</div>
	</article>

	<!-- footer -->
	<footer class="footer-distributed">
		<div class="footer-left">
			<img src="img/footer_logo.png" alt="">
			<p class="footer-links">
				<a href="#">Trang Chủ</a>
				·
				<a href="#">Giới thiệu</a>
				·
				<a href="#">Khuyến mãi</a>
				·
				<a href="#">Liên hệ</a>
			</p>
			<p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>(08) 37251993</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>Thông tin về nhóm:</span>
				<p class="group-member">Nhóm bao gồm 3 thành viên:</p>
				<p class="group-member">15520801: Dương Văn Thanh</p>
				<p class="group-member">15520680: Phạm Ngọc Quân</p>
				<p class="group-member">15520693: Trần Hưng Quang</p>
			</p>
			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>