<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quản lí quản trị viên - Bến xe miền Đông</title>

	<!--CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/footer-distributed-with-address-and-phones.css">
	<link rel="stylesheet" href="css/bootstrap-3.1.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/ticket-booking.css">

</head>
<body>
	<nav class="navbar navbar-inverse">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img id="nav_logo" src="img/images/nav_logo.png" alt="nav_logo"/>
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<div class="nav navbar-nav navbar-right">
				<div class="line above-bar">
					<form method="POST" action="#" id="search-area" class="inline">
						<input id="txtSearch" type="text" name="txtSearch" placeholder="Nhập thông tin cần tìm kiếm">
						<input id="btnSearch" type="submit" name="btnSearch" value=""> 
					</form>
					<div class="inline basket">
						<span id="basket-text">Giỏ hàng</span>
						<span id="amount-in-basket">1</span>
					</div>
					<div class="inline account">
						<a href="">
							<img class="avatar-account inline" src="img/images/avatar.png"/>
							<div class="account-info inline">
								<span class="name-account line">Tên tài khoản</span>
								<span class="type-account line">Loại tài khoản</span>
							</div>
						</a>
					</div>
				</div>
				<div class="line under-bar">
					<ul>
						<li class="inline"><a href="#">Trang chủ</a></li>
						<li class="inline"><a href="#">Giới thiệu</a></li>
						<li class="inline"><a href="#">Khuyến mãi</a></li>
						<li class="inline"><a href="#">Liên hệ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<article class="row content container-fuild">
		<div class="row user-info-form">
			<form>
				<p class="form-row" id="booking-title">Thông tin đặt vé</p>
				<div class="form-col col-md-6">
					<div class="form-row">
						<label>Số vé</label>
						<input type="text" name="ticket-number">
					</div>
					<div class="form-row">
						<label>Tuyến</label>
						<input type="text" name="route">
					</div>
					<div class="form-row">
						<label>Số xe</label>
						<input type="text" name="car-number">
					</div>
				</div>
				<div class="form-col col-md-6">
					<div class="form-row">
						<label>Số lượng ghế</label>
						<input type="text" name="amount-place">
					</div>
					<div class="form-row">
						<label>Số ghế</label>
						<input type="text" name="place">
					</div>
					<div class="form-row">
						<label>Thời gian khởi hành</label>
						<input type="text" name="time-start">
					</div>
					<div class="form-row">
						<label>Thời gian đến (dự kiến)</label>
						<input type="text" name="time-end">
					</div>
					<div class="form-row">
						<label>Giá vé</label>
						<input type="text" name="cost">
					</div>
				</div>
			</form>
		</div>
		<div class="row history-book">
			<table class="table-info">
					<tr class="table-info-title">
						<th class="col-1">Số vé</th>
						<th class="col-2">Số xe</th>
						<th class="col-3">Tuyến</th>
						<th class="col-4">Thời gian đi</th>
						<th class="col-5">Số lượng</th>
						<th class="col-6">Giá vé</th>
						<th class="col-button">
							<img class="cancel-icon line" src="img/add_icon_button.png"/>
						</th>
					</tr>
					<tr class="table-info-row">
						<td class="col-1">25AC155</td>
						<td class="col-2">75F91389</td>
						<td class="col-3">Tp.Hồ Chí Minh-Huế</td>
						<td class="col-4">12:00 24/5/2013</td>
						<td class="col-5">2</td>
						<td class="col-6">450.000</td>
						<td class="col-button">
							<img class="edit-button line" src="img/edit_icon_button.png"/>
							<img class="delete-button line" src="img/cancel_icon_red.png"/>
						</td>
					</tr>
				</table>
		</div>
	</article>

	<!-- footer -->
	<footer class="footer-distributed">
		<div class="footer-left">
			<img src="img/footer_logo.png" alt="">
			<p class="footer-links">
				<a href="#">Trang Chủ</a>
				·
				<a href="#">Giới thiệu</a>
				·
				<a href="#">Khuyến mãi</a>
				·
				<a href="#">Liên hệ</a>
			</p>
			<p class="footer-company-name">Nhóm con chim non &copy; 2018</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>Khu phố 6, phường Linh Trung</span>Quận Thủ Đức, Tp.Hồ Chí Minh</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>(08) 37251993</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:DHCNTT_TPHCM@gm.uit.com.vn">DHCNTT_TPHCM@gm.uit.com.vn</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>Thông tin về nhóm:</span>
				<p class="group-member">Nhóm bao gồm 3 thành viên:</p>
				<p class="group-member">15520801: Dương Văn Thanh</p>
				<p class="group-member">15520680: Phạm Ngọc Quân</p>
				<p class="group-member">15520693: Trần Hưng Quang</p>
			</p>
			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</footer>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/ticket-booking.js"></script>
</html>